AnchorPane {
    -fx-background-color: #f8ffe0;
}

.large {
    -fx-font-size: 10pt;
}

Button, Label, ChoiceBox, Slider, TextField{
    -fx-text-fill: black;
}
Button, ChoiceBox >*, Slider .track {  /*TextField, VBox*/
    -fx-background-color: #f1f7a2;
}
Button:hover {
    -fx-background-color: white;
}

Slider .axis {
    -fx-tick-label-fill: black;
}

Slider .track:hover {
    -fx-background-color: white;
}
Slider .thumb {
    -fx-background-color: #85939e;
}