* {
    -fx-background-color: #f8ffe0;
}

.large {
    -fx-font-size: 10pt;
}

Button, Label, ChoiceBox, Slider {
    -fx-text-fill: black;
}
Button {
    -fx-background-color: #f1f7a2;
}
Button:hover {
    -fx-background-color: white;
}
ChoiceBox >* {
    -fx-background-color: #f1f7a2;
}
Slider .axis {
    -fx-tick-label-fill: black;
}
Slider .track {
    -fx-background-color: #f1f7a2;
}
Slider .track:hover {
    -fx-background-color: white;
}
Slider .thumb {
    -fx-background-color: #85939e;
}